[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pytest-django = "*"
pytest = "*"
environ = "*"
django-environ = "*"
django-extensions = "*"
pytest-cov = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.10.6"
python_full_version = "3.10.6"
